<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * events
 *
 * @copyright Copyright © 2023 Mageserv LTD. All rights reserved.
 * @author    mageserv.ltd@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_register_success">
        <observer name="send_customer_service_email_after_success_registration"
                instance="Mageserv\CustomerRegistration\Observer\CustomerServiceEmail"
        />
    </event>
</config>
