<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * system
 *
 * @copyright Copyright © 2023 Mageserv LTD. All rights reserved.
 * @author    mageserv.ltd@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="elaraby" translate="label" sortOrder="200">
            <label>Elaraby Group</label>
        </tab>
        <section id="customer_registration" type="text" translate="label" showInWebsite="1" showInDefault="1" showInStore="1" sortOrder="10" >
            <class>separator-top</class>
            <label>Customer Registration</label>
            <tab>elaraby</tab>
            <resource>Mageserv_CustomerRegistration::config_customers</resource>
            <group id="general" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General</label>
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Enable Module ?</label>
                    <comment><![CDATA[- This will enable customer firstname whitespace trim on registration and send email to customer support]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cs_email" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="1" >
                    <label>Customer Service Email</label>
                    <validate>required validate-email</validate>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="template" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
